/* Base Styles & Resets */

* {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background-color: var(--base-background-color);
	font-family: var(--font-body);
	color: var(--color-text);
	max-width: 100vw;
	overflow-x: hidden;
}

button:focus:not(:focus-visible) {
	outline: none;
}
