/* Typography */

@import url("https://use.typekit.net/xpf5icb.css");
@import '@fontsource/fira-mono';

:root {
	--font-body: "adobe-caslon-pro", serif;
	--font-head: "futura-pt", Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-head);
	font-weight: 200;
	text-transform: uppercase;
}

p {
	font-weight: 400;
	line-height: 1.5;
}

p.lead {
	font-size: 1.25rem;
	color: var(--color-text-subtle);
}

a {
	color: var(--color-text-accent);
	text-decoration: underline;
	text-decoration-color: transparent;
	transition: all 0.2s ease;
}

a:hover {
	color: var(--color-text-accent-hover);
	text-decoration-color: var(--color-text-accent-hover);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.875rem;
}

h3 {
	font-size: 1.5rem;
}

mark {
	background: color-mix(in srgb, var(--color-primary) 25%, transparent);
	color: inherit;
	padding: 0.125rem 0.15rem 0;
	border-radius: 4px;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.write p:first-child:first-letter {
	float: left;
	font-size: 4rem;
	line-height: 5rem;
	padding-top: 0.25rem;
	padding-right: 0.25rem;
	padding-left: 0;
	margin-bottom: -2rem;
}
